<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>

table {
  table-layout: fixed;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

</style>
<title>案件一覧</title>
</head>
<body style="width: 950px;">
	<div
		style="margin-top: -10px; background: #000000; width: 100%; border: 1px solid #D3D3D3; height: 100％; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
		<font color="#FFFF00">
		MENU
		</font>
		<font color="#808080" size="2">案件一覧</font>
		<a th:href="@{/CustomerInformationList}"><button type="submit"  style="border:1px solid #000000;background-color:#000000; height:50px" ><font color="#FFFFFF">顧客一覧</font></button></a>
		<a th:href="@{/StatusList}"><button type="submit"  style="border:1px solid #000000;background-color:#000000; height:50px" ><font color="#FFFFFF">ステータス一覧</font></button></a>
		<a th:href="@{/UserList}"><button type="submit"  style="border:1px solid #000000;background-color:#000000; height:50px" ><font color="#FFFFFF">ユーザ一覧</font></button></a>
		<a th:href="@{/logout}" style="float:right;"><button type="submit"  style="border:1px solid #000000;background-color:#000000; height:50px" ><font color="#FF0000">ログアウト</font></button></a>
	</div>

	<b>製造部売上管理システム：案件一覧</b>
<br>
<br>
	<div th:if="${pullDownList != null}">
		<form th:action="@{/ItemRegistration}" th:method="Post" th:object="${pullString}" style="display: inline">
			<select name="customerId" >
				<option th:each="user:${pullDownList}" th:object="${user}" th:value="*{id}"><span th:text="*{customerName}" ></span></option>
			</select>
				<input type="submit" value="新規登録"  />
		</form>
	</div>

	<div th:if="${pullDownList == null}" >※顧客情報がありません!<br>新規登録をするには顧客一覧から新規登録を行ってください。</div>

				<!-----------------検索----------------->
	<form th:action="@{/search}" th:method="Get" accept-charset="UTF-8" style="position: relative; left: 620px; top:-30px;">
		<select name="customerId">
			<option value="">顧客</option>
			<option th:each="user:${pullDownList}" th:object="${user}"
				th:value="*{id}"><span th:text="*{customerName}"></span></option>
		</select>件名：<input type="text" name="Search" size="20"><br>
		<select name="statusId">
			<option value="">ステータス</option>
			<option th:each="user:${StatusPullDownList}" th:object="${user}"
				th:value="*{id}"><span th:text="*{name}"></span></option>
		</select> <br>
		   <input type="submit" value="検索"><br>
	</form>

	<div th:fragment='paginationbar' th:if="!${#lists.isEmpty(page)}">
		<ul th:object="${Search}">


			<li th:class="${page.first} ? 'disabled':''" style="display: inline">
				<span th:if="${page.first}">&lt&lt</span> <a
				th:if="${not page.first}"
				th:href="@{${url}(page=0,Search=${Search},customerId=${customerId},statusId=${statusId})}">&lt&lt</a>
			</li>


			<li th:class="(${page.number})? 'active' : ''"
				style="display: inline"><span th:if="${page.first}">&lt</span>
				<a th:if="${not page.first}"
				th:href="@{${url}(page=(${page.number}-1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&lt</a></li>

			<li th:if="${page.totalPages <= 4}"
				th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li th:if="${page.totalPages >= 5 && page.number <= 1}"
				th:each='i : ${#numbers.sequence(0, 4)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li
				th:if="${page.totalPages >= 5 && page.number > 1 && page.number < page.totalPages-2}"
				th:each='i : ${#numbers.sequence(page.number-2, page.number+2)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li
				th:if="${page.totalPages >= 5 && page.number >= page.totalPages-2}"
				th:each='i : ${#numbers.sequence(page.totalPages-5,page.totalPages-1)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li th:class="(${page.number})? 'active' : ''"
				style="display: inline"><span th:if="${page.last}">&gt</span> <a
				th:if="${not page.last}"
				th:href="@{${url}(page=(${page.number}+1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&gt</a></li>

			<li th:class="${page.last} ? 'disabled':''" style="display: inline">
				<span th:if="${page.last}">&gt&gt</span> <a th:if="${not page.last}"
				th:href="@{${url}(page=(${page.totalPages}-1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&gt&gt</a>
			</li>
		</ul>
	</div>

<table border="1">

		<thead>
			<tr height=40 bgcolor=cornflowerblue>
				<th width=13%>顧客</th>
				<th>受注日</th>
				<th width=7%>S番号</th>
				<th >件名</th>
				<th width=4%>数量</th>
				<th width=13%>納入指定日<br>/納入日</th>
				<th>請求日</th>
				<th nowrap width=11%>見積金額<br>/受注金額</th>
				<th width=9%>ステータス</th>
				<th width=10% colspan="2"></th>

			</tr>
		</thead>
		<tbody th:each="ItemCustomerStatusEntity : ${page}" th:object="${ItemCustomerStatusEntity}" >
			<tr >
				<td th:text="*{customerName}" rowspan="2"></td>
				<td th:text="*{orderDate}" rowspan="2"></td>
				<td th:text="*{sNumber}" rowspan="2" nowrap></td>
				<td th:text="*{title}" th:title="*{title}+ *{note}" rowspan="2"></td>
				<td th:text="*{quantity}+ *{quantityUnit}" rowspan="2"></td>
				<td th:text="*{deliveryDate}" align="center"> </td>
				<td th:text="*{billingDate}" rowspan="2"></td>
				<td th:text="'￥' + *{estimatedAmount}"></td>
				<td th:text="*{Name}" rowspan="2"></td>
				<td style="background: #000066;" rowspan="2"><a th:href="@{/ItemEdit/{id}/{customerId}/{statusId}(id=*{id},customerId=*{customerId},statusId=*{statusId})}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:100%" ><font color="#FFFFFF">編集</font></button></a></td>
				<td style="background: #000066;" rowspan="2"><a th:href="@{/ItemDelete/{id}/{customerId}/{statusId}(id=*{id},customerId=*{customerId},statusId=*{statusId})}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:100%" ><font color="#FF0000">削除</font></button></a></td>

			</tr>
<tr>
<td th:text="*{dueDate}" align="center"></td>
<td th:text="'￥' + *{orderAmount}"></td>


</tr>
		</tbody>

	</table>

<div th:fragment='paginationbar' th:if="!${#lists.isEmpty(page)}">
		<ul th:object="${Search}">


			<li th:class="${page.first} ? 'disabled':''" style="display: inline">
				<span th:if="${page.first}">&lt&lt</span> <a
				th:if="${not page.first}"
				th:href="@{${url}(page=0,Search=${Search},customerId=${customerId},statusId=${statusId})}">&lt&lt</a>
			</li>


			<li th:class="(${page.number})? 'active' : ''"
				style="display: inline"><span th:if="${page.first}">&lt</span>
				<a th:if="${not page.first}"
				th:href="@{${url}(page=(${page.number}-1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&lt</a></li>

			<li th:if="${page.totalPages <= 4}"
				th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li th:if="${page.totalPages >= 5 && page.number <= 1}"
				th:each='i : ${#numbers.sequence(0, 4)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li
				th:if="${page.totalPages >= 5 && page.number > 1 && page.number < page.totalPages-2}"
				th:each='i : ${#numbers.sequence(page.number-2, page.number+2)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li
				th:if="${page.totalPages >= 5 && page.number >= page.totalPages-2}"
				th:each='i : ${#numbers.sequence(page.totalPages-5,page.totalPages-1)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{${url}(page=${i},Search=${Search},customerId=${customerId},statusId=${statusId})}"> <span
					th:text='${i+1}'>1</span>
			</a></li>

			<li th:class="(${page.number})? 'active' : ''"
				style="display: inline"><span th:if="${page.last}">&gt</span> <a
				th:if="${not page.last}"
				th:href="@{${url}(page=(${page.number}+1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&gt</a></li>

			<li th:class="${page.last} ? 'disabled':''" style="display: inline">
				<span th:if="${page.last}">&gt&gt</span> <a th:if="${not page.last}"
				th:href="@{${url}(page=(${page.totalPages}-1),Search=${Search},customerId=${customerId},statusId=${statusId})}">&gt&gt</a>
			</li>
		</ul>
	</div>
	<form th:action="@{/ItemRegistration}" th:method="Post" th:object="${pullString}" style="display: inline">
		<select name="customerId" >
			<option th:each="user:${pullDownList}" th:object="${user}" th:value="*{id}"><span th:text="*{customerName}" ></span></option>
		</select>
			<input type="submit" value="新規登録"  />
	</form>
</body>
</html>