<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザ一覧</title>
</head>
<body>
	<div
		style="margin-top: -10px; background: #000066; width: 100%; border: 1px solid #D3D3D3; height: 100％; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
		<font color="#FFFF00">
		MENU
		</font>
		<a th:href="@{/}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:50px" ><font color="#FFFFFF">案件一覧</font></button></a>
		<a th:href="@{/}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:50px" ><font color="#FFFFFF">顧客一覧</font></button></a>
		<a th:href="@{/}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:50px" ><font color="#FFFFFF">ステータス一覧</font></button></a>
		<a th:href="@{/}"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:50px" ><font color="#808080">ユーザ一覧</font></button></a>
		<a th:href="@{/}" style="float:right;"><button type="submit"  style="border:1px solid #000066;background-color:#000066; height:50px" ><font color="#FF0000">ログアウト</font></button></a>
	</div>
</body>
</html>